<ion-view>
    <ion-pane>

        <ion-header-bar class="bar-stable">
            <div class="buttons">
                <button class="button button-icon button-clear ion-search" ui-sref="menu"></button>
            </div>
            <h1 class="title">Your App</h1>
            <div class="buttons">
                <button class="button button-icon button-clear ion-map" ui-sref="map"></button>
            </div>
        </ion-header-bar>

        <ion-content class="padded">
            <p>Your app is gonna be awesome.</p>
            <p>Describe its features and functions, so folks can comprehend the magnitude of its excellence.</p>
        </ion-content>

    </ion-pane>
</ion-view>
