<ion-view>
    <ion-pane>

        <ion-header-bar class="bar-stable">
            <div class="buttons">
                <button class="button button-icon button-withtext ion-chevron-left" ui-sref="cache">Back</button>
            </div>
            <h1 class="title">Cache Near You</h1>
            <div class="buttons">
            </div>
        </ion-header-bar>

        <ion-content class="padded center">
            <p>
                Cache the map around your current location. You can then switch to Offline Mode and continue using the map if you lose service.
            </p>

            <!-- the button and the "ready/notready" status UI -->
            <div ng-hide="viewdata.progress_total !== null">
                <div ng-show="! viewdata.my_lat || ! viewdata.my_lng">
                    <button class="button button-full button-assertive">Finding your location</button>
                </div>

                <div ng-show="viewdata.my_lat && viewdata.my_lng && ! viewdata.insideCalifornia">
                    <button class="button button-full button-assertive">Not In California</button>
                </div>

                <div ng-show="viewdata.my_lat && viewdata.my_lng && viewdata.insideCalifornia">
                    <button class="button button-full button-balanced" ng-click="startCaching();">Begin Caching Nearby</button>
                </div>

                <div ng-show="viewdata.my_lat && viewdata.my_lng">
                    <br/>
                    {{ viewdata.my_lat|number:5 }} &deg;
                    <br/>
                    {{ viewdata.my_lng|number:5 }} &deg;
                </div>
            </div>

            <!-- progress UI -->
            <div ng-show="viewdata.progress_total !== null">
                <div ng-hide="viewdata.progress_total > 0 && viewdata.progress_done >= viewdata.progress_total" class="bold">
                    Downloading
                    <br>
                    {{ viewdata.progress_done }} of {{ viewdata.progress_total }}
                    <br/>
                    <progress max="{{ viewdata.progress_total }}" value="{{ viewdata.progress_done }}"></progress>
                </div>

                <div ng-show="viewdata.progress_total > 0 && viewdata.progress_done >= viewdata.progress_total" class="bold">
                    Completed download of<br/>{{ viewdata.progress_total }} map tiles
                    <br/>
                    <button class="button button-full button-balanced" ng-click="reset();">Start Over</button>
                </div>
            </div>

        </ion-content>

    </ion-pane>
</ion-view>
