<ion-view>
    <ion-pane>

        <ion-header-bar class="bar-stable">
            <div class="buttons">
                <button class="button button-icon button-withtext ion-chevron-left" ng-click="backButton()">Back</button>
            </div>
            <h1 class="title">Main Menu</h1>
            <div class="buttons">
                <button class="button button-icon button-clear ion-map" ui-sref="map"></button>
            </div>
        </ion-header-bar>

        <ion-content>
            <div class="list">
                <a class="item item-icon-left" href="#/app/map"><i class="icon ion-map"></i> Browse The Map</a>
                <a class="item item-icon-left" href="#/app/cache"><i class="icon ion-android-download"></i> Offline Maps</a>
                <a class="item item-icon-left" href="#/app/about"><i class="icon ion-information-circled"></i> About This App</a>
            </div>
        </ion-content>

    </ion-pane>
</ion-view>
