<ion-view>
    <ion-pane>

        <ion-header-bar class="bar-stable">
            <div class="buttons">
                <button class="button button-icon button-clear ion-navicon" ui-sref="menu"></button>
            </div>
            <h1 class="title">Search By City</h1>
            <div class="buttons">
            </div>
        </ion-header-bar>

        <ion-content class="padded center">

            <label class="item item-input" focus-me><input type="text" ng-model="viewdata.city" placeholder="enter a city" ng-change="updateSuggestions();" ng-keypress="keypressTextBox($event);" /></label>
            <button class="button button-full button-balanced" ng-click="doSearch();" ng-hide="viewdata.suggestions.length > 0">Search</button>

            <ion-list ng-show="viewdata.suggestions.length > 0">
                <ion-item ng-repeat="city in viewdata.suggestions" ng-click="selectCity(city);">{{ city }}</ion-item>
            </ion-list>

        </ion-content>

    </ion-pane>
</ion-view>
