<ion-view>
    <ion-pane>

        <ion-header-bar class="bar-stable">
            <div class="buttons">
                <button class="button button-icon button-clear ion-navicon" ui-sref="menu"></button>
            </div>
            <h1 class="title">Near You</h1>
            <div class="buttons">
            </div>
        </ion-header-bar>

        <ion-content class="padded center">
            <div ng-show="! viewdata.my_lat || ! viewdata.my_lng">
                <button class="button button-assertive">Finding your location</button>
            </div>

            <div ng-show="viewdata.my_lat && viewdata.my_lng && viewdata.insideCalifornia">
                <button class="button button-balanced" ng-click="doSearch();">Search Nearby</button>
            </div>

            <div ng-show="viewdata.my_lat && viewdata.my_lng && ! viewdata.insideCalifornia">
                <button class="button button-assertive">Not In California</button>
                <br/>
                You are not in California, so you won't find anything near you.
            </div>

            <div ng-show="viewdata.my_lat && viewdata.my_lng">
                <br/>
                {{ viewdata.my_lat|number:5 }} &deg;
                <br/>
                {{ viewdata.my_lng|number:5 }} &deg;
            </div>
        </ion-content>

    </ion-pane>
</ion-view>
